footer {
	padding: 60px 0;
	text-align: center;
	background-color: #222222;

	.social-link {
		ul {
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 10px;
				border-right: 1px solid #f4f4f4;
				a {
					color: #fff;

					&:hover {					
						color: #673AB7; /* fallback for old browsers */
						color: linear-gradient(to left, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
					}
				}
			}
		}
		p {
			color: #f4f4f4;
			text-transform: capitalize;
		}
	}
}