@mixin primary-font($size, $line-height: 1.5625) {
	font-family: 'Roboto', sans-serif;
	font-size: $size;
	line-height: $line-height;
	}

@mixin heading-font($size: 40px, $line-height: 0.7) {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: $size;
	line-height: $line-height;
	text-align: center;
	text-transform: capitalize;
	-webkit-font-feature-settings: "kern" 1;
	text-rendering: optimizeLegibility;
}

@mixin btn-paul {
	background-color: #ff2b4a;
	text-transform: capitalize;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.751;
	text-align: center;
	padding: 17px 68px;
}


// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// Card-like display of boxes with box shadow
//
@mixin ui-card {
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}

// Round icons
//
@mixin icon-round {
	display: block;
	font-size: $icon-round-size;
	line-height: $icon-round-line-height;
	border-radius: $icon-round-border-radius;
	outline: none;
	padding: $icon-round-padding;

	&:link,
	&:visited {
		color: $icon-round-color;
		background-color: $icon-round-bg;
	}

	&:focus,
	&:hover,
	&:active {
		color: $icon-round-color-hover;
		background-color: $icon-round-bg-hover;
		text-decoration: none;
	}

	i {
		padding: 0 10px 0 0;
	}
}

@mixin scrolling {
	opacity: 0.9;
	transition: opacity 0.5s ease;

	&:hover {
		opacity: 1;
	}
}
