#hire-me {
	padding-top: 119px;
	font-family: 'Roboto', sans-serif;
	background: #3494E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #3494E6 , #EC6EAD); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #3494E6 , #EC6EAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
	
	.desc {
		h4 {
			font-size: 18px;
			color: #fff;
			font-weight: bold;
			line-height: 1.556;
			text-align: left;
			margin-bottom: 43px;
		}

		p {
			font-size: 16px;
			color: rgba(255,255,255,.502);
			line-height: 1.751;
			text-align: left;
		}

		.btn-paul {
			@include btn-paul;
			margin-top: 68px;
			transition: background-color 300ms ease-in;

			&:hover {
				background: #1e3c72; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		}
	}
}


