#intro {
	height: 100vh;
    background:url('../img/intro.jpeg'),linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    width:100%;
    height:100vh;
    background-size:cover;
    background-blend-mode: hard-light;
    animation: hue-rotate 3s linear infinite;

	.intro {
        text-align: center;
        padding: 11rem 0;

        .fa-bars {
            color: #fff;
        }

        .btn {
            padding: 0.8rem 1rem;
            line-height: 1.4;
        }
	    
		h1 {
			font-size: 50px;
			font-family: 'Raleway', sans-serif;
			font-weight: 900;
			color: rgb(255, 255, 255);
			text-transform: uppercase;
			line-height: 1.308;
			padding-top: 10px;
			text-align: center;
			letter-spacing: 8px;
			border-top: 2px solid #f4f4f4;
			border-bottom: 2px solid #f4f4f4;
			display: inline-block;
			margin-bottom: 0;
		}

		p {
			text-transform: capitalize;
			font-size: 25px;
			font-family: 'Roboto', sans-serif;
			color: rgba(255, 255, 255, 0.702);
			line-height: 3;
			text-align: center;
		}
	}
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}




/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    transition: all 0.9s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid #fff;
    border-radius: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.9s ease 0s;
}

.toggle {
    margin: 7px 7px 0 0;
}

.fa-bars, 
.fa-times {
    color: #fff;
}
