/*** Working Process ***/

#working-process {
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
	padding: 152px 0;
	text-align: center;

	h1 {
		font-size: 40px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		line-height: 0.7;
		text-transform: capitalize;
		padding-bottom: 20px;
		margin-top: 0;
		margin-bottom: 0;

		@media screen and (max-width: 375px) { 
		 	font-size: 30px;
		}
	}

	h5 {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.702);
		line-height: 1.751;
		font-weight: bold;
		padding-bottom: 69px;
		margin-top: 1rem;

		// Below 48em (768px)
		@include media("<md") {
			padding-bottom: 50px;
		}
	}

	.square {
		width: 270px;
		height: 270px;
		padding: 87px;
		color: #fff;
		text-transform: uppercase;

		h5 {
			color: #fff;
		}

		// Resolutions below 48em (768px)
		@media screen and (max-width: 48em) { 
		 	width: 100%;
		 	margin-bottom: 20px;
		}
		// Below 62em (992px)
		@include media("<lg") {
			margin-bottom: 20px;
		}
		// Between 62em (992px) and 75em (1200px)
		@media screen and (min-width: 62em) and (max-width: 75em) {
			width: 230px;
		}
	}

	.square1 {
		background-color: #10c6fc;
	}
	.square2 {
		background-color: #835aeb;
	}
	.square3 {
		background-color: #002453;
	}
	.square4 {
		background-color: #ff2b4a;
	}

	// Below 48em (768px)
	@include media("<md") {
		padding: 50px 0;
	}
}

