#working-process {
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
	padding: 152px 0;
	text-align: center;

	h1 {
		font-size: 40px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		line-height: 0.7;
		text-transform: capitalize;
		padding-bottom: 20px;
		margin-bottom: 0;
	}

	h5 {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.702);
		line-height: 1.751;
		font-weight: bold;
		padding-bottom: 69px;
	}

	.square {
		width: 270px;
		height: 270px;
		background-color: #10c6fc;
		padding: 87px;
		color: #fff;
		text-transform: uppercase;

		h5 {
			color: #fff;
		}
	}
	.square2 {
		width: 270px;
		height: 270px;
		background-color: #835aeb;
		padding: 87px;
		color: #fff;
		text-transform: uppercase;

		h5 {
			color: #fff;
		}
	}
	.square3 {
		width: 270px;
		height: 270px;
		background-color: #002453;
		padding: 87px;
		color: #fff;
		text-transform: uppercase;

		h5 {
			color: #fff;
		}
	}
	.square4 {
		width: 270px;
		height: 270px;
		background-color: #ff2b4a;
		padding: 87px;
		color: #fff;
		text-transform: uppercase;

		h5 {
			color: #fff;
		}
	}
}